<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="DatabaseFactoryConfiguration" type="Selia.Integrador.Utils.Core.DatabaseFactorySectionHandler, Selia.Integrador.Utils, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <appSettings>
    <add key="Constants:AppSettings:Fila:Millemium:Produto:IdDestinoFila" value="41" />
    <add key="WSExecutorTimer" value="60" />
    <!-- EM SEGUNDOS -->
    <add key="ServiceLogError" value="True" />
    <add key="ServiceLogDebug" value="True" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ComAcentos" value="ÄÅÁÂÀÃäáâàãÉÊËÈéêëèÍÎÏÌíîïìÖÓÔÒÕöóôòõÜÚÛüúûùÇç" />
    <add key="SemAcentos" value="AAAAAAaaaaaEEEEeeeeIIIIiiiiOOOOOoooooUUUuuuuCc" />

    <add key="Constants:AppSettings:MediaTypeHeaderJson" value="application/json" />

    <add key="AlteraDestinoPriceIdNulo" value="Could not find a price-sheet for the sku" />

    <add key="Constants:AppSettings:Fila:Millenium:Produto:IdDestinoFila" value="41" />
    <add key="Constants:AppSettings:Fila:Millenium:Produto:TagCodigodoProduto" value="value/produto" />
    <add key="Constants:AppSettings:Fila:Millenium:Produto:MensagemErroRetorno" value="Produto com [ID:{0} OR ExternalID:null] não encontrado." />
    <add key="Constants:AppSettings:Fila:Millenium:Produto:TagXmlErroRequisicao" value="error/error_message" />


    <add key="Constants:AppSettings:Date:Formats" value="dd/MM/yyyy|dd-MM-yyyy|dd/MM/yyyy HH:mm:ss|dd-MM-yyyy HH:mm:ss|yyyy-MM-ddTHH:mm:ss" />
    <add key="Constants:AppSettings:Email:Body" value="A integração ({0} - {1}, possui {2} erro(s))" />

    <add key="Constants:AppSettings:Culture" value="pt-br" />


    <add key="Constants:AppSettings:HttpStatusCode:Sucesso" value="200,201,204" />

  </appSettings>
  <connectionStrings>
    <!--<add name="ConnectionStringIntegrador" connectionString="Data Source= (DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.0.214)(PORT=1522)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=orcl.Seliaamara.com.br)));User Id=dbo_dbgeral;Password=dbo_dbgeral;" />-->
    <!--<add name="ConnectionStringIntegrador" connectionString="Data Source= (DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=oracle-scan1.coop-sp.net)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=INTEGRADOR)));User Id=integrador;Password=integrador;"/>-->
    <!--<add name="ConnectionStringIntegradorSQL" connectionString="Data Source=192.168.0.47;Initial Catalog=SeliaIntegradorSANTAHELENA;Persist Security Info=True;Integrated Security=SSPI;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionStringIntegradorSQL" connectionString="Server=192.168.1.202;Initial Catalog=SeliaIntegradorSANTAHELENA;User Id=sa; Password=redepres;" providerName="System.Data.SqlClient" />-->
    
    
    <add name="ConnectionStringIntegradorSQL" connectionString="Server=192.168.1.202;Initial Catalog=SeliaIntegradorSANTAHELENA;User Id=sa; Password=Redepres;" providerName="System.Data.SqlClient" />
    <!--<add name="ConnectionStringIntegradorSQL" connectionString="Server=192.168.1.202;Database=SeliaIntegradorSANTAHELENA;User Id=sa;Password=redepres;Max Pool Size=30" providerName="System.Data.SqlClient" />-->
        
    
    <!--<add name="ConnectionStringIntegradorOracle" connectionString="Data Source= (DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=SPVMORL01.Seliaamara.com.br)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SID=IntegSeliaDev)));User Id=system;Password=Seliaamara@123;" />-->
    <!--<add name="ConnectionStringIntegradorMySql" connectionString="Server=NBQ44-069;Database=Seliaintegrador;Uid=Seliaamara;Pwd=Seliaamara@123;" />-->
    <!--<add name="ConnectionStringRMS" connectionString="Data Source= (DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.0.214)(PORT=1522)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=orcl.Seliaamara.com.br)));User Id=dbo_dbgeral;Password=dbo_dbgeral;" />-->
    <!--<add name="ConnectionStringRMS" connectionString="Data Source= (DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=oracle-scan1.coop-sp.net)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=INTEGRADOR)));User Id=integrador;Password=integrador;"/>-->
    <!--<add name="ConnectionStringRMS" connectionString="Data Source= (DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=oracle-scan1.coop-sp.net)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=SVCERPCOOP)));User Id=INTEGRADORPRD;Password=INTEGRADORPRD;" />-->
    <!--<add name="ConnectionStringNormalizacao" connectionString="Data Source= (DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.0.214)(PORT=1522)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=orcl.Seliaamara.com.br)));User Id=dbo_dbgeral;Password=dbo_dbgeral;" />-->
    <!--<add name="ConnectionStringNormalizacao" connectionString="Data Source= (DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=oracle-scan1.coop-sp.net)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=INTEGRADOR)));User Id=integrador;Password=integrador;"/>-->
    <!--<add name="ConnectionStringNormalizacao" connectionString="Data Source= (DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=oracle-scan1.coop-sp.net)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=SVCERPCOOP)));User Id=INTEGRADORPRD;Password=INTEGRADORPRD;" />-->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <!--<DatabaseFactoryConfiguration Name="Selia.Integrador.Utils.Core.OracleDatabase" ConnectionStringName="ConnectionStringIntegradorOracle" />-->
  <DatabaseFactoryConfiguration Name="Selia.Integrador.Utils.Core.SqlDatabase" ConnectionStringName="ConnectionStringIntegradorSQL" />
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Configuration" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>