<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="DatabaseFactoryConfiguration" type="Selia.Integrador.Utils.Core.DatabaseFactorySectionHandler, Selia.Integrador.Utils, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <appSettings>
    <add key="Constants:AppSettings:Fila:Millemium:Produto:IdDestinoFila" value="41" />
    <add key="WSExecutorTimer" value="60" />
    <!-- EM SEGUNDOS -->
    <add key="ServiceLogError" value="True" />
    <add key="ServiceLogDebug" value="True" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ComAcentos" value="ÄÅÁÂÀÃäáâàãÉÊËÈéêëèÍÎÏÌíîïìÖÓÔÒÕöóôòõÜÚÛüúûùÇç" />
    <add key="SemAcentos" value="AAAAAAaaaaaEEEEeeeeIIIIiiiiOOOOOoooooUUUuuuuCc" />

    <add key="Constants:AppSettings:MediaTypeHeaderJson" value="application/json" />


    <add key="Constants:AppSettings:Millenium:FormatoData" value="yyyy-mm-dd" />
    
    <add key="Constants:AppSettings:Fila:Millenium:Produto:IdDestinoFila" value="41" />
    <add key="Constants:AppSettings:Fila:Millenium:Produto:TagCodigodoProduto" value="value/produto" />
    <add key="Constants:AppSettings:Fila:Millenium:Produto:MensagemErroRetorno" value="Produto com [ID:{0} OR ExternalID:null] não encontrado." />
    <add key="Constants:AppSettings:Fila:Millenium:Produto:TagXmlErroRequisicao" value="error/error_message" />


    <add key="Constants:AppSettings:Date:Formats" value="dd/MM/yyyy|dd-MM-yyyy|dd/MM/yyyy HH:mm:ss|dd-MM-yyyy HH:mm:ss|yyyy-MM-ddTHH:mm:ss" />


    <add key="Constants:AppSettings:Culture" value="pt-br" />


    <add key="Constants:AppSettings:HttpStatusCode:Sucesso" value="200,201,204" />

    <add key="Constants:AppSettings:Pedidos:TipoPagamento.BSeller" value="CREDIT_CARD" />
    <add key="Constants:AppSettings:Pedidos:TipoPagamento.Millenium" value="CREDIT_CARD" />

    <add key="Constants:AppSettings:Date:Formats" value="dd/MM/yyyy|dd-MM-yyyy|dd/MM/yyyy HH:mm:ss|dd-MM-yyyy HH:mm:ss|yyyy-MM-ddTHH:mm:ss" />
    <add key="Constants:AppSettings:Culture" value="pt-br" />




    <add key="Constants:AppSettings:HttpStatusCode:Sucesso" value="200,201,204" />

    <add key="Constants:AppSettings:Millenium:FormatoData" value="yyyy-mm-dd" />

    <add key="Constants:AppSettings:Millenium:Pedido:CLIENTE" value="xml:order/customer/id" />

    <add key="Constants:AppSettings:Millenium:Pedido:N_PEDIDO_CLIENTE" value="" />
    <add key="Constants:AppSettings:Millenium:Pedido:VALIDADE" value="" />
    <add key="Constants:AppSettings:Millenium:Pedido:REPRESENTANTE" value="" />
    <add key="Constants:AppSettings:Millenium:Pedido:TRANSPORTADORA" value="" />
    <add key="Constants:AppSettings:Millenium:Pedido:FILIAL" value="1" />
    <add key="Constants:AppSettings:Millenium:Pedido:DATA_EMISSAO" value="xml:order/dateCreated" />
    <add key="Constants:AppSettings:Millenium:Pedido:DATA_ENTREGA" value="xml:order/deliveries/delivery/estimate" />
    <add key="Constants:AppSettings:Millenium:Pedido:TABELA" value="1" />
    <add key="Constants:AppSettings:Millenium:Pedido:CONDICOES_PGTO" value="" />
    <add key="Constants:AppSettings:Millenium:Pedido:ACERTO" value="" />
    <add key="Constants:AppSettings:Millenium:Pedido:V_ACERTO" value="" />
    <add key="Constants:AppSettings:Millenium:Pedido:V_FRETE" value="xml:order/deliveries/delivery/price" />

    <add key="Constants:AppSettings:Millenium:Pedido:OBS" value="" />
    <add key="Constants:AppSettings:Millenium:Pedido:ORIGEM_PEDIDO" value="WEB SITE" />
    <add key="Constants:AppSettings:Millenium:Pedido:TIPO_PEDIDO" value="1" />
    <add key="Constants:AppSettings:Millenium:Pedido:CONTA" value="1" />
    <add key="Constants:AppSettings:Millenium:Pedido:expirationdate" value="xml:order/payment/creditCard/expirationDate" />

    <add key="Constants:AppSettings:Millenium:Pedido:PRODUTOS" value="xml:order/cart/orderLines" />
    <add key="Constants:AppSettings:Millenium:Pedido:PRODUTOS:PRODUTO" value="xml:orderLine/productId" />
    <add key="Constants:AppSettings:Millenium:Pedido:PRODUTOS:COR" value="" />
    <add key="Constants:AppSettings:Millenium:Pedido:PRODUTOS:ESTAMPA" value="" />
    <add key="Constants:AppSettings:Millenium:Pedido:PRODUTOS:TAMANHO" value="" />
    <add key="Constants:AppSettings:Millenium:Pedido:PRODUTOS:QUANTIDADE" value="xml:orderLine/quantity" />
    <add key="Constants:AppSettings:Millenium:Pedido:PRODUTOS:PRECO" value="xml:orderLine/totalAmount" />
    <add key="Constants:AppSettings:Millenium:Pedido:PRODUTOS:ITEM" value="xml:orderLine/name" />
    <add key="Constants:AppSettings:Millenium:Pedido:PRODUTOS:OBS_ITEM" value="" />
    <add key="Constants:AppSettings:Millenium:Pedido:PRODUTOS:SKU" value="xml:orderLine/skuId" />
    <add key="Constants:AppSettings:Millenium:Pedido:PRODUTOS:BARRA" value="" />
    <add key="Constants:AppSettings:Millenium:Pedido:PRODUTOS:COD_PEDIDOV" value="" />
    <add key="Constants:AppSettings:Millenium:Pedido:PRODUTOS:CFOP" value="" />

    <add key="Constants:AppSettings:Millenium:Pedido:CORTESIA" value="" />
    <add key="Constants:AppSettings:Millenium:Pedido:COD_ENDERECO" value="" />
    <add key="Constants:AppSettings:Millenium:Pedido:COMISSAO_R" value="" />
    <add key="Constants:AppSettings:Millenium:Pedido:VENDEDOR" value="" />
    <add key="Constants:AppSettings:Millenium:Pedido:CIF_FOB" value="A" />
    <add key="Constants:AppSettings:Millenium:Pedido:COMISSAO_F" value="" />

    <add key="Constants:AppSettings:Millenium:Pedido:LANCAMENTO:DATA_VENCIMENTO" value="" />
    <add key="Constants:AppSettings:Millenium:Pedido:LANCAMENTO:TIPO_PGTO" value="xml:order/payment/type" />
    <add key="Constants:AppSettings:Millenium:Pedido:LANCAMENTO:CONTA" value="" />
    <add key="Constants:AppSettings:Millenium:Pedido:LANCAMENTO:DOCUMENTO" value="" />
    <add key="Constants:AppSettings:Millenium:Pedido:LANCAMENTO:BANCO" value="" />
    <add key="Constants:AppSettings:Millenium:Pedido:LANCAMENTO:AGENCIA" value="" />
    <add key="Constants:AppSettings:Millenium:Pedido:LANCAMENTO:C_C" value="" />
    <add key="Constants:AppSettings:Millenium:Pedido:LANCAMENTO:NSU" value="" />
    <add key="Constants:AppSettings:Millenium:Pedido:LANCAMENTO:AUTORIZACAO" value="" />
    <add key="Constants:AppSettings:Millenium:Pedido:LANCAMENTO:REDE" value="" />
    <add key="Constants:AppSettings:Millenium:Pedido:LANCAMENTO:NUMPARC" value="xml:order/payment/creditCard/parcels" />
    <add key="Constants:AppSettings:Millenium:Pedido:LANCAMENTO:NUMCONTRATO" value="" />
    <add key="Constants:AppSettings:Millenium:Pedido:LANCAMENTO:BANDEIRA" value="xml:order/payment/creditCard/brand" />
    <add key="Constants:AppSettings:Millenium:Pedido:LANCAMENTO:OPERADORA" value="xml:order/payment/payment/type" />
    <add key="Constants:AppSettings:Millenium:Pedido:LANCAMENTO:NUMERO_CARTAO" value="xml:order/payment/creditCard/number" />
    <add key="Constants:AppSettings:Millenium:Pedido:LANCAMENTO:COD_SEGURANCA_CARTAO" value="xml:order/payment/creditCard/pin" />
    <add key="Constants:AppSettings:Millenium:Pedido:LANCAMENTO:NOME_PORTADOR_CARTAO" value="xml:order/payment/creditCard/ownerName" />
    <add key="Constants:AppSettings:Millenium:Pedido:LANCAMENTO:CPF_PORTADOR_CARTAO" value="xml:order/customer/document" />
    <add key="Constants:AppSettings:Millenium:Pedido:LANCAMENTO:COD_NATUREZA" value="" />
    <add key="Constants:AppSettings:Millenium:Pedido:LANCAMENTO:TRANSACAO_APROVADA" value="false" />
    <add key="Constants:AppSettings:Millenium:Pedido:LANCAMENTO:MENSAGEM_APROVA_FACIL" value="" />
    <add key="Constants:AppSettings:Millenium:Pedido:LANCAMENTO:TRANSACAO" value="xml:order/payment/transactionId" />
    <add key="Constants:AppSettings:Millenium:Pedido:LANCAMENTO:COD_AUTORIZACAO_CARTAO" value="" />
    <add key="Constants:AppSettings:Millenium:Pedido:LANCAMENTO:COMPROVANTE_ADMINISTRADORA" value="" />
    <add key="Constants:AppSettings:Millenium:Pedido:LANCAMENTO:DATA_APROVA_FACIL" value="" />
    <add key="Constants:AppSettings:Millenium:Pedido:LANCAMENTO:ADIANTAMENTO" value="false" />
    <add key="Constants:AppSettings:Millenium:Pedido:LANCAMENTO:PREVISAO" value="xml:order/deliveries/delivery/estimate" />
    <add key="Constants:AppSettings:Millenium:Pedido:LANCAMENTO:DUPLICATA" value="" />
    <add key="Constants:AppSettings:Millenium:Pedido:LANCAMENTO:DATA_PAGAMENTO" value="" />

    <add key="Constants:AppSettings:Millenium:Pedido:CONTA" value="" />
    <add key="Constants:AppSettings:Millenium:Pedido:OBS2" value="" />
    <add key="Constants:AppSettings:Millenium:Pedido:LISTA_CASAMENTO" value="false" />
    <add key="Constants:AppSettings:Millenium:Pedido:GRUPO_LOJA" value="" />




  </appSettings>
  <connectionStrings>
    <!--<add name="ConnectionStringIntegrador" connectionString="Data Source= (DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.0.214)(PORT=1522)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=orcl.Seliaamara.com.br)));User Id=dbo_dbgeral;Password=dbo_dbgeral;" />-->
    <!--<add name="ConnectionStringIntegrador" connectionString="Data Source= (DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=oracle-scan1.coop-sp.net)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=INTEGRADOR)));User Id=integrador;Password=integrador;"/>-->
    <add name="ConnectionStringIntegrador" connectionString="Data Source=BDSeliaAMARA-01;Initial Catalog=SeliaIntegradorGrupoSantaHelena;Trusted_Connection=yes" />
    <add name="ConnectionStringIntegradorOracle" connectionString="Data Source= (DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=SPVMORL01.Seliaamara.com.br)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SID=IntegSeliaDev)));User Id=system;Password=Seliaamara@123;" />
    <add name="ConnectionStringIntegradorMySql" connectionString="Server=NBQ44-069;Database=Seliaintegrador;Uid=Seliaamara;Pwd=Seliaamara@123;" />
    <!--<add name="ConnectionStringRMS" connectionString="Data Source= (DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.0.214)(PORT=1522)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=orcl.Seliaamara.com.br)));User Id=dbo_dbgeral;Password=dbo_dbgeral;" />-->
    <!--<add name="ConnectionStringRMS" connectionString="Data Source= (DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=oracle-scan1.coop-sp.net)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=INTEGRADOR)));User Id=integrador;Password=integrador;"/>-->
    <add name="ConnectionStringRMS" connectionString="Data Source= (DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=oracle-scan1.coop-sp.net)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=SVCERPCOOP)));User Id=INTEGRADORPRD;Password=INTEGRADORPRD;" />
    <!--<add name="ConnectionStringNormalizacao" connectionString="Data Source= (DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.0.214)(PORT=1522)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=orcl.Seliaamara.com.br)));User Id=dbo_dbgeral;Password=dbo_dbgeral;" />-->
    <!--<add name="ConnectionStringNormalizacao" connectionString="Data Source= (DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=oracle-scan1.coop-sp.net)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=INTEGRADOR)));User Id=integrador;Password=integrador;"/>-->
    <add name="ConnectionStringNormalizacao" connectionString="Data Source= (DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=oracle-scan1.coop-sp.net)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=SVCERPCOOP)));User Id=INTEGRADORPRD;Password=INTEGRADORPRD;" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <!--<DatabaseFactoryConfiguration Name="Selia.Integrador.Utils.Core.OracleDatabase" ConnectionStringName="ConnectionStringIntegradorOracle" />-->
  <DatabaseFactoryConfiguration Name="Selia.Integrador.Utils.Core.MySqlDatabase" ConnectionStringName="ConnectionStringIntegradorMySql" />
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Configuration" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>